#next app build files
packages/next-dapp/.next/*

# Env files.
packages/next-dapp/.env
packages/hardhat/.env

#Node modules
node_modules/*
packages/next-app/node_modules/*
packages/hardhat/node_modules/*